.navbar-nav li:hover > ul.dropdown-menu {
  display: block;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
}

.dropdown-menu > li > a:hover::after {
  transform: rotate(-90deg);
}

.ukuranbreadcrumb {
  font-size: 12px;
}

@media (min-width: 1560px) {
  .dropdown-submenu > .dropdown-menu {
    top: -1px;
    left: 100%;
    margin-left: -5px;
  }

  .jarak {
    margin-left: 50px;
  }
  .navbar-nav a {
    font-size: 20px;
  }
  .bg-hmti {
    background-image: url("img/gedung.jpg");
    background-size: 700px 400px;
    background-repeat: no-repeat;
    background-position-x: right;
  }
  .menuprofil {
    height: 400px;
    width: 1000px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: -300px;
  }
  .menuprofil li {
    margin: 15px;
    width: 250px;
  }

  .panjangdrop {
    width: 250px;
    height: 400px;
    margin-left: -90px;
  }
  .panjangsense {
    height: 400px;
    margin-left: -100px;
  }
  .panjangsubmenu {
    height: 400px;
  }
  .ukuranbreadcrumb {
    font-size: 20px;
  }
}
